
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<!--Testing******************************************-->
<pre>
    @ViewBag.AListOfProducts.ToString()
</pre>
<!--*****************************************************-->

Problem A
<table border="1">
    <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Unit Price</th>
    </tr>

@foreach (var anItem in ViewBag.aListOfProductsA)
{
    <tr>
        <td>@anItem.ProductId</td>
        <td>@anItem.ProductName</td>
        <td>@anItem.UnitPrice</td>
    </tr>
}
</table><br/><br />

Problem B
<table border="1">
    <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Unit Price</th>
    </tr>
@foreach (var anItem in ViewBag.aListOfProductsB)
{
    <tr>
        <td>@anItem.ProductId</td>
        <td>@anItem.ProductName</td>
        <td>@anItem.UnitPrice</td>
    </tr>
}
</table><br /><br />

Problem C
<table border="1">
    <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Unit Price</th>
    </tr>
    @foreach (var anItem in ViewBag.aListOfProductsC)
    {
        <tr>
            <td>@anItem.ProductId</td>
            <td>@anItem.ProductName</td>
            <td>@anItem.UnitPrice</td>
        </tr>
    }
</table><br /><br />

Problem D
<table border="1">
    <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Unit Price</th>
    </tr>
    @foreach (var anItem in ViewBag.aListOfProductsD)
    {
        <tr>
            <td>@anItem.ProductId</td>
            <td>@anItem.ProductName</td>
            <td>@anItem.UnitPrice</td>
        </tr>
    }
</table><br /><br />

Problem E
<table border="1">
    <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Unit Price</th>
    </tr>
    @foreach (var anItem in ViewBag.aListOfProductsE)
    {
        <tr>
            <td>@anItem.ProductId</td>
            <td>@anItem.ProductName</td>
            <td>@anItem.UnitPrice</td>
        </tr>
    }
</table><br /><br />

Problem F
<table border="1">
    <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Unit Price</th>
    </tr>
    @foreach (var anItem in ViewBag.aListOfProductsF)
    {
        <tr>
            <td>@anItem.ProductId</td>
            <td>@anItem.ProductName</td>
            <td>@anItem.UnitPrice</td>
        </tr>
    }
</table><br /><br />

Problem G
<table border="1">
    <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Unit Price</th>
    </tr>
    @foreach (var anItem in ViewBag.aListOfProductsG)
    {
        <tr>
            <td>@anItem.ProductId</td>
            <td>@anItem.ProductName</td>
            <td>@anItem.UnitPrice</td>
        </tr>
    }
</table><br /><br />

Problem H
<table border="1">
    <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Unit Price</th>
    </tr>
    @foreach (var anItem in ViewBag.aListOfProductsH)
    {
        <tr>
            <td>@anItem.ProductId</td>
            <td>@anItem.ProductName</td>
            <td>@anItem.UnitPrice</td>
        </tr>
    }
</table><br /><br />

Problem I
<table border="1">
    <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Unit Price</th>
    </tr>
    @foreach (var anItem in ViewBag.aListOfProductsI)
    {
        <tr>
            <td>@anItem.ProductId</td>
            <td>@anItem.ProductName</td>
            <td>@anItem.UnitPrice</td>
        </tr>
    }
</table><br /><br />

Problem J
<table border="1">
    <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Unit Price</th>
    </tr>
    @foreach (var anItem in ViewBag.aListOfProductsJ)
    {
        <tr>
            <td>@anItem.ProductId</td>
            <td>@anItem.ProductName</td>
            <td>@anItem.UnitPrice</td>
        </tr>
    }
</table><br /><br />

Problem K
<table border="1">
    <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Unit Price</th>
    </tr>
    @foreach (var anItem in ViewBag.aListOfProductsK)
    {
        <tr>
            <td>@anItem.ProductId</td>
            <td>@anItem.ProductName</td>
            <td>@anItem.UnitPrice</td>
        </tr>
    }
</table><br /><br />

Problem L
<table border="1">
    <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Unit Price</th>
    </tr>
    @foreach (var anItem in ViewBag.aListOfProductsL)
    {
        <tr>
            <td>@anItem.ProductId</td>
            <td>@anItem.ProductName</td>
            <td>@anItem.UnitPrice</td>
        </tr>
    }
</table><br /><br />

